% Конфигурация веб-сервера
(define default_port 8080)

server {
    name @"MyWebServer"
    port .{default_port 80 +}.
    ssl true
    max_connections 1000

    locations [
        {
            path @"/"
            root @"@"/var/www/html""
            index @"index.html"
        }
        {
            path @"/api/*"
            proxy_pass @"http://backend:3000"
        }
    ]
}
